<!DOCTYPE html>
<html>
<head>
  <title>Launching Soon</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/get_key_with_callback.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

</head>
<body>

<div id="wrap"></div>
  <div id="container">
  	<div class="hero-unit red">
	  <center><h3>A fantastic way to search for news about your favorite artists is launching in January 2013</h3></center>
    </div>
  </div>
</body>
</html>
